/* 
    Document   : userStyle
    Created on : 28-07-2012, 15:49:35
    Author     : Admin
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
    color: #999999;
    font: 12px "Arial",Arial,Helvetica,sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, textarea {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    outline: medium none;
    padding: 0;
    vertical-align: top;
}

.clearblock {
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

b {
    font-weight: bold;
}
i {
    font-style: italic;
}
ol, ul {
    list-style: none outside none;
}
blockquote, q {
    quotes: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a, span {
    vertical-align: baseline;
}
img {
    text-decoration: none;
    vertical-align: top;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    color: #999999;
    font: 12px "Arial",Arial,Helvetica,sans-serif;
}

#back-top {
    bottom: 52px;
    left: 50%;
    margin-left: 550px;
    position: fixed;
    z-index: 9999;
}

a, span {
    vertical-align: baseline;
}

#back-top span {

    background: url("../../img/up-arrow.png") no-repeat scroll left 0 transparent;
    display: block;
    height: 20px;
    margin-bottom: 7px;
    width: 35px;
}

#wrapper1 {
    background: url("../../img/bg_img.jpg") no-repeat scroll 50% 0 #0D0D0D;
    min-height: 100%;
    min-width: 1100px;
}

#wrapper2 {
    height: 100%;
}

#wrapper3 {
    margin: 0 auto;
    text-align: left;
    width: 1064px;
}

#header {
    background: url("../../img/bg_header.png") no-repeat scroll 0 bottom transparent;
    height: 229px;
    position: relative;
}

#header_logo {
    display: block;
    height: 80px;
    left: 0;
    position: absolute;
    top: 52px;
    width: 227px;
}

#languages_block_top {
    float: right;
    overflow: hidden;
    padding: 25px 0 0;
}

#languages_block_top ul li {
    float: left;
    text-transform: capitalize;
}

#languages_block_top ul li.selected_language {
    color: #E70B0B;
    font: bold 12px "Arial";
}

#languages_block_top ul li + li {
    margin: 0 0 0 8px;
}

#languages_block_top ul li a {
    color: #666464;
    display: block;
    font: bold 12px "Arial";
    text-decoration: none;
}

#tmheaderlinks {
    float: right;
    overflow: hidden;
    padding: 11px 0 0;
}

#tmheaderlinks li {
    float: left;
}

#tmheaderlinks li + li {
    padding: 0 0 0 23px;
}

#tmheaderlinks li a {
    color: #FFFFFF;
    font: bold 14px "Arial";
    text-decoration: none;
    text-transform: uppercase;
}

#tmheaderlinks li a:hover, #tmheaderlinks li a.active {
    color: #E70B0B;
}

#currencies_block_top {
    float: right;
    margin: 12px 0 0;
    position: relative;
    z-index: 100;
}

label {
    color: #777777;
    font: 12px "Arial";
}

#currencies_block_top label {
    color: #666464;
    display: block;
    float: left;
    padding: 0 14px 0 0;
}

#currencies_block_top div.jqTransformSelectWrapper {
    float: left;
    height: 15px;
    width: 80px !important;
}

#currencies_block_top div.jqTransformSelectWrapper > div > span {
    background: url("../../img/header_currency.png") no-repeat scroll right 0 transparent;
    color: #666464;
    cursor: pointer;
    display: block;
    float: left;
    height: 15px;
    padding: 0 0 0 4px;
    width: 76px !important;
}

#currencies_block_top ul {
    overflow: hidden !important;
    position: absolute;
    right: 0;
    top: 17px;
    width: 80px !important;
}

#currencies_block_top ul li {
    border-top: medium none;
    height: auto;
}

#currencies_block_top ul li a {
    background: none repeat scroll 0 0 #666464;
    color: #AAAAAA;
    display: block;
    font: 11px/24px "Arial";
    padding: 0 0 0 4px;
    text-decoration: none;
}

#currencies_block_top ul li a:hover, #currencies_block_top ul li a.selected {
    color: #FFFFFF;
}

#currencies_block_top ul li {
    border-top: medium none;
    height: auto;
}

#currencies_block_top ul li a {
    background: none repeat scroll 0 0 #666464;
    color: #AAAAAA;
    display: block;
    font: 11px/24px "Arial";
    padding: 0 0 0 4px;
    text-decoration: none;
}

input[type="text"], input[type="password"], textarea, select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #555555;
    font: 12px "Arial";
}

#currencies_block_top select {
    display: none;
}

input[type="text"], input[type="password"], textarea, select {
    color: #555555;
    font: 12px "Arial";
}

#header_user {
    float: right;
    padding: 12px 0 0;
}

#header_user li {
    float: left;
    padding: 0 25px 0 0;
}

#header_user #header_user_info {
    color: #666464;
}

#header_user li a {
    text-decoration: none;
}

li a.logoutH{
    color: #666464;
}

li a.logoutH:hover {
    color: #E70B0B;
}

#header_user #header_user_info a {
    color: #666464;
    text-transform: lowercase;
}

form span {
    color: #E70B0B;
}

#header_user li {
    float: left;
    padding: 0 25px 0 0;
}

#header_user #your_account a {
    color: #FFFFFF;
    font-weight: bold;
}

#header_user #your_account a:hover {
    color: #E70B0B;
}

#shopping_cart {
    left: 525px;
    position: absolute;
    top: 137px;
}

#shopping_cart a {
    color: #FFFFFF;
    font: bold 12px "Arial";
    text-decoration: none;
}

#shopping_cart span {
    color: #FFFFFF;
}

#search_block_top {
    background: url("../../img/search_bg.png") repeat-x scroll 0 0 transparent;
    float: right;
    height: 34px;
    margin: 32px 7px 0 0;
    width: 328px;
}

#search_block_top label {
    background: url("../../img/search_label.png") no-repeat scroll right 0 transparent;
    color: #FFFFFF;
    display: block;
    float: left;
    font: bold 16px "Arial";
    height: 26px;
    padding: 8px 13px 0 0;
    text-transform: uppercase;
}

input[type="text"], input[type="password"], textarea, select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #555555;
    font: 12px "Arial";
}

#search_block_top input.search_query {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    float: left;
    margin: 10px 0 0;
    width: 160px;
}

#search_block_top a {
    background: url("../../img/search_btn.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: right;
    height: 0;
    overflow: hidden;
    padding: 34px 0 0;
    width: 31px;
}

#tmcategories {
    height: 62px;
    padding: 7px 0 0;
}

#cat li {
    float: left;
    padding: 0 0 0 25px;
    position: relative;
    z-index: 100;
}

#cat li > a {
    color: #FFFFFF;
    display: block;
    font: bold 16px "Arial";
    height: 41px;
    padding: 21px 0 0;
    text-decoration: none;
    text-transform: uppercase;
}

#cat li ul.subcat {
    background: url("../../img/tmc_sub.png") repeat-x scroll 0 0 #343434;
    border-radius: 0 0 2px 2px;
    display: none;
    left: 5px;
    padding: 16px 0 24px;
    position: absolute;
    top: 62px;
    width: 150px;
}

#cat ul.subcat li {
    padding: 7px 0 0 20px;
    position: relative;
}

#cat ul.subcat li a {
    color: #9D9D9D;
    font: bold 12px "Arial";
    text-decoration: none;
}

#cat li:hover > a, #cat > li > a.selected {
    color: #E70B0B;
}

#columns {
    background: url("../../img/bg_columns.png") repeat-x scroll 0 0 #252525;
    float: left;
    padding: 0;
    width: 1064px;
}


#center_column {
    float: left;
    margin: 0 0 30px;
    width: 1064px;
}

body#index #center_column {
    width: 1064px;
}

#tmslider1 ul {
    overflow: hidden;
    position: relative;
}

#tmslider1 ul li {
    float: left;
    position: relative;
}

#tmslider1 ul li .slide_txt {
    position: absolute;
}

#tmslider1 ul li.slide-1 .slide_txt {
    left: 58px;
    top: 152px;
}

#tmslider1 ul li.slide-1 .f1 {
    color: #E70B0B;
    font: 700 42px "Open Sans";
    text-transform: uppercase;
}

#tmslider1 ul li.slide-1 .f2 {
    color: #FFFFFF;
    font: 600 18px/25px "Open Sans";
    padding: 2px 0 0;
    text-transform: uppercase;
    width: 330px;
}

#tmslider1 ul li .slide_btn {
    background: url("../../img/slide_btn.png") repeat-x scroll 0 0 transparent;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    display: inline-block;
    font: 600 18px "Open Sans";
    height: 33px;
    padding: 8px 28px 0;
    text-decoration: none;
    text-transform: uppercase;
}

#tmslider1 ul li .slide_btn:hover{
    background-position: 0px -41px;
}

#tmslider1 ul li.slide-1 .slide_btn {
    margin: 26px 0 0;
}

.center_column a {
    color: #FFFFFF;
    text-decoration: underline;
}

#tmslider1 ul li.slide-2 .slide_txt {
    right: 39px;
    top: 28px;
    width: 270px;
}

#tmslider1 ul li.slide-2 .f1 {
    color: #FFFFFF;
    font: italic 700 49px "Open Sans";
    padding: 0 45px 0 0;
    text-align: right;
}

#tmslider1 ul li.slide-2 .f2 {
    color: #C4131D;
    font: italic 700 59px "Open Sans";
    margin: -29px 0 0;
    text-align: right;
    text-transform: uppercase;
}

#tmslider1 ul li.slide-2 .f3 {
    color: #FFFFFF;
    font: italic 600 31px "Open Sans";
    margin: -18px 0 0;
    text-align: right;
}

#tmslider1 ul li.slide-2 .f4 {
    color: #FFFFFF;
    font: 14px/25px "Open Sans";
    padding: 6px 0 0;
    text-align: right;
    text-transform: uppercase;
}

#tmslider1 ul li .slide_btn {
    background: url("../../img/slide_btn.png") repeat-x scroll 0 0 transparent;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    display: inline-block;
    font: 600 18px "Open Sans";
    height: 33px;
    padding: 8px 28px 0;
    text-decoration: none;
    text-transform: uppercase;
}

#tmslider1 ul li.slide-2 .slide_btn {
    float: right;
    margin: 19px 0 0;
}

.center_column a {
    color: #FFFFFF;
    text-decoration: underline;
}

#tmslider1 ul li.slide-3 {
    position: absolute;
    right: 40px;
    top: 358px;
}

#tmslider1 ul li.slide-3 .f1, #tmslider1 ul li.slide-3 .f2, #tmslider1 ul li.slide-3 .f3, #tmslider1 ul li.slide-3 .f4, #tmslider1 ul li.slide-3 .slide_btn {
    display: none;
}

#tmslider2 ul {
    overflow: hidden;
}

#tmslider2 ul li {
    float: left;
}

#featured_products {
    background: url("../../img/bg_columns.png") repeat-x scroll 0 0 #252525;
    padding: 0 0 0 20px;
}

#featured_products h4 {
    color: #FFFFFF;
    font: 23px "Open Sans";
    margin: 0;
    padding: 25px 0 0;
}

#featured_products ul {
    overflow: hidden;
    width: 1044px;
}

#featured_products ul li {
    float: left;
    height: 382px;
    margin: 23px 20px 0 0;
    position: relative;
    width: 241px;
}

#featured_products ul li a.product_image {
    background: url("../../img/feat_img.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 241px;
    text-align: center;
    width: 241px;
}

#featured_products ul li a.product_image img {
    margin: 20px 0 0;
}

#featured_products ul li > div {
    background: url("../../img/feat_descr.png") repeat-x scroll 0 0 transparent;
    height: 141px;
}

#featured_products ul li > div div {
    height: 102px;
}

#featured_products ul li h5 {
    height: 34px;
    line-height: 19px;
    padding: 17px 25px 0;
}

a.product_link {
    color: #FFFFFF;
    font: 12px "Arial";
    text-decoration: none;
    text-transform: uppercase;
}

a.product_link:hover{
    color: #e70b0b;
}

table#cart_summary td.price, #center_column span.price {
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
}

#featured_products ul li span.price {
    color: #565656;
    display: block;
    font: 15px "Arial";
    padding: 16px 0 0 25px;

}

#featured_products ul li .feat_add2cart {
    background: url("../../img/feat_add2cart.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
    float: left;
    font: bold 11px "Arial";
    height: 27px;
    padding: 12px 0 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 143px;
}

#featured_products ul li .feat_add2cart:hover{
    background-position: 0px -39px;
}

#featured_products ul li .feat_view {
    color: #FFFFFF;
    display: block;
    float: right;
    font: bold 11px "Arial";
    height: 27px;
    padding: 12px 0 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 98px;
}

#featured_products ul li .feat_view:hover{
    color: #e70b0b;
}

#footer {
    background: url("../../img/bg_footer.png") no-repeat scroll 0 0 transparent;
    clear: both;
    height: 281px;
}

#tmfooterlinks div {
    float: left;
    padding: 0 0 0 20px;
    width: 241px;
}

#tmfooterlinks ul {
    padding: 20px 0 0;
}

#tmfooterlinks ul li {
    padding: 10px 0 0;
}

#tmfooterlinks ul li a {
    color: #B7B7B7;
    text-decoration: none;
}

#tmfooterlinks ul li a:hover{
    color: #e70b0b;
}

#tmfooterlinks p {
    clear: both;
    color: #565656;
    padding: 45px 0 0 20px;
}

#tmfooterlinks p a {
    color: #565656;
    text-decoration: none;
}

#tmfooterlinks p a:hover{
    color: #ffffff;
}


/*=====================================================*/
/*=======================PRODUCT=======================*/
/*=====================================================*/

.breadcrumb {
    border-style: solid;
    border-width: 1px;
    margin: 0 0 10px;
    padding: 8px 0 8px 19px;
    position: relative;
}

#center_column .bordercolor, #center_column table.std th, #center_column table.std td, #center_column form.std h3 {
    border-color: #555555 !important;
}

.breadcrumb_inner {
    color: #999999;
}

.breadcrumb a {
    color: #FFFFFF;
    text-decoration: none;
}

.breadcrumb .navigation-pipe {
    background: url("../../img/icon/pipe.png") no-repeat scroll 50% 6px transparent;
    display: inline-block;
    height: 0;
    margin: 0 10px;
    overflow: hidden;
    padding: 12px 0 0;
    width: 5px;
}

#primary_block {
    margin: 20px 0 0;
}

#primary_block #pb-right-column {
    float: left;
    width: 306px;
}

#primary_block #image-block {
    border-style: solid;
    border-width: 1px;
    height: 304px;
    width: 304px;
}

#primary_block #image-block img#bigpic {
    cursor: pointer;
    height: 304px;
    width: 304px;
}

#primary_block #image-block img#bigpic.jqzoom {
    cursor: crosshair;
    position: relative;
}

#views_block {
    height: 82px;
    margin: 10px 0 0;
    position: relative;
    width: 306px;
}

#thumbs_list {
    height: 82px;
    margin: 0 0 0 20px;
    overflow: hidden;
    width: 266px;
}

#thumbs_list li a {
    border-style: solid;
    border-width: 1px;
    display: block;
}

#thumbs_list li {
    cursor: pointer;
    float: left;
    height: 82px;
    margin: 0 10px 0 0;
    width: 82px;
}

#thumbs_list li.thumb_last {
    margin: 0;
}

#usefull_link_block {
    background: none repeat scroll 0 0 #333333;
    border-style: solid;
    border-width: 1px;
    clear: both;
    margin: 10px 0 0;
    overflow: hidden;
    padding: 9px 0 6px 20px;
}

#usefull_link_block li {
    background: url("../../img/icon/bullet_alt.png") no-repeat scroll 0 12px transparent;
    float: left;
    margin-bottom: 5px;
    margin-right: 12px;
    padding: 2px 0 0 23px;
}

#usefull_link_block li:first-child {
    background: url("../../img/icon/mail-icon.png") no-repeat scroll 0 0 transparent;
}

#usefull_link_block li a, #usefull_link_block span.span_link {
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}

#usefull_link_block li {
    background: url("../../img/icon/bullet_alt.png") no-repeat scroll 0 12px transparent;
    float: left;
    margin-bottom: 5px;
    margin-right: 12px;
    padding: 2px 0 0 23px;
}

#usefull_link_block li.print {
    background: url("../../img/icon/print.png") no-repeat scroll 0 2px transparent;
    padding-left: 18px;
}


#primary_block #pb-left-column {
    float: left;
    padding: 0 0 0 20px;
    width: 437px;
}

#primary_block #pb-left-column h1 {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #E70B0B;
    font-size: 28px;
    line-height: 32px;
    margin-top: -5px;
    padding: 0;
    text-transform: none;
}

.buy_block {
    border-style: solid;
    border-width: 1px 0 0;
    margin: 20px 0 0;
}

.center_column p {
    color: #999999;
    margin: 0 0 -3px;
    padding: 17px 0 0;
}

.buy_block div.price {
    overflow: hidden;
    padding: 20px 0;
}

.buy_block span.our_price_display {
    display: block;
    float: left;
    height: 27px;
}

.buy_block .other_options {
    border-style: solid;
    border-width: 1px 0 0;
}

table#cart_summary td.price, #center_column span.price {
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
}

.buy_block span#our_price_display {
    display: block;
    float: left;
    font: 15px "Arial";
    padding: 12px 0 0;
}

.buy_block span.our_price_display_tax {
    display: block;
    float: left;
}

.buy_block #add_to_cart {
    float: right;
    margin: 0;
    padding: 0;
}

input.button_mini, input.button_small, input.button, input.button_large, input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled, input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large, input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled, a.button_mini, a.button_small, a.button, a.button_large, a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large, span.button_mini, span.button_small, span.button, span.button_large, span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large {
    background: url("../../img/bttns.png") repeat-x scroll 0 0 transparent;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF !important;
    cursor: pointer;
    display: inline-block;
    font: bold 11px "Arial" !important;
    height: 39px !important;
    padding: 0 10px;
    text-decoration: none !important;
    text-transform: uppercase;
}

a.button_mini, a.button_small, a.button, a.button_large, a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large, span.button_mini, span.button_small, span.button, span.button_large, span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large {
    line-height: 39px !important;
}

.buy_block #quantity_wanted_p {
    float: right;
    padding: 0 10px 0 0;
}

input[type="text"], input[type="password"], textarea, select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #555555;
    font: 12px "Arial";
}

.buy_block #quantity_wanted_p #quantity_wanted , .textb {
    float: right;
    height: 15px;
    margin: 6px 0 0;
    padding: 5px;
    text-align: center;
    width: 20px;
}


.buy_block #quantity_wanted_p label {
    float: right;
    padding: 12px 7px 0 0;
    text-align: right;
}

#center_column {
    float: left;
    margin: 0 0 30px;
    width: 763px;
}

#columns {
    background: url("../../img/bg_columns.png") repeat-x scroll 0 0 #252525;
    float: left;
    padding: 20px 0 0 20px;
    width: 1044px;
}

.buy_block .other_options {
    border-style: solid;
    border-width: 1px 0 0;
}

.buy_block #other_prices {
    float: left;
    padding: 10px 0 0;
    width: 50%;
}

.buy_block #other_prices, .buy_block #other_prices p, .buy_block #other_prices span {
    font: 12px "Arial";
}

.buy_block #other_prices > p {
    margin: 0;
    min-height: 18px;
    padding: 13px 0 0;
    width: 100%;
}

.buy_block #pQuantityAvailable span {
    color: #FFFFFF;
    font-weight: bold;
}

.buy_block #attributes {
    float: right;
    padding: 10px 0 0;
    width: 50%;
    visibility: hidden;
}

span.on_sale, span.discount {
    color: #E70B0B;
    font: bold 12px "Arial";
    text-transform: uppercase;
}

.buy_block span.on_sale, .buy_block span.discount {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #E70B09;
    display: block;
    float: right;
    height: 18px;
    margin: 10px 0 0;
    padding: 3px 7px 0;
}

.buy_block #attributes p {
    margin: 0;
    overflow: hidden;
    padding: 10px 0 0;
}

.buy_block #attributes select {
    float: right;
    height: 21px;
    padding: 1px;
    width: 120px;
}

.buy_block #attributes label {
    float: right;
    padding: 3px 7px 0 0;
    text-align: right;
}

#primary_block #short_description_block {
    border-style: solid;
    border-width: 1px 0 0;
    margin: 20px 0 0;
}

#primary_block #short_description_content, #primary_block #short_description_content p {
    margin: 17px 0 0;
    padding: 0;
}

#primary_block .buttons_bottom_block {
    margin: 0;
}

ul.idTabs {
    clear: both;
    height: 27px;
    padding: 20px 0 0;
    position: relative;
    z-index: 10;
}

ul.idTabs li {
    float: left;
}

ul.idTabs li a {
    background: none repeat scroll 0 0 #555555;
    border: 1px solid #555555;
    color: #AAAAAA;
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 21px;
    padding: 6px 21px 0;
    text-decoration: none;
}

ul.idTabs li a.selected {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #333333;
    border-color: #555555;
    border-style: solid;
    border-width: 1px 1px 0;
    color: #FFFFFF;
    height: 22px;
}

.selected {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #333333;
    border-color: #555555;
    border-style: solid;
    border-width: 1px 1px 0;
    color: #FFFFFF;
    height: 22px;
}

ul.idTabs li + li {
    margin: 0 0 0 1px;
}

div#more_info_sheets {
    border-style: solid;
    border-width: 1px;
    margin-top: 1px;
    position: relative;
    z-index: 9;
}

#center_column .bgcolor, #center_column table.std th {
    background-color: #333333;
}

#idTab1 {
    padding: 0 20px 20px;
}

#idTab1 div, #idTab1 p {
    margin: 17px 0 -3px;
    padding: 0;
}

#idTab1 div, #idTab1 p {
    margin: 17px 0 -3px;
    padding: 0;
}

#idTab2 {
    padding: 10px 20px 20px;
}

#idTab2 li {
    background: url("../../img/bullet_alt.png") no-repeat scroll 0 12px transparent;
    padding: 7px 0 0 12px;
}

#idTab2 li span {
    color: #FFFFFF;
    font-weight: bold;
}

.hidden, .collapsed, .block_hidden_only_for_screen {
    display: none;
}

#idTab3 {
    padding: 0 20px 20px;
}

#idTab3 p.comment_add {
    margin: 0;
    padding: 20px 0 0;
}

#idTab3 fieldset p {
    margin: 0;
    padding: 10px 0 0;
}

#idTab3 p.align_right {
    height: 11px;
    padding: 0;
}

#idTab3 fieldset table.comment_rating {
    margin: 17px 0 3px;
}

#idTab3 p.align_right a {
    background: url("../../img/icon/delete.gif") no-repeat scroll 0 0 transparent;
    display: block;
    float: right;
    height: 0;
    overflow: hidden;
    padding: 11px 0 0;
    width: 11px;
}

#idTab3 fieldset label {
    display: block;
    padding: 0 0 3px;
}

#idTab3 fieldset input#customer_name, #idTab3 fieldset input#comment_title {
    height: 15px;
    padding: 3px;
    width: 206px;
}

textarea {
    max-width: 755px;
    min-width: 755px;
    overflow: auto !important;
    padding: 3px;
    width: 755px;
}

#idTab3 textarea#content {
    height: 100px;
    max-width: 713px;
    min-width: 300px;
    width: 713px;
}

#idTab3 p.submit {
    padding: 13px 0 0;
}

input.button_mini:hover, a.button_mini:hover, input.button_small:hover, a.button_small:hover, input.button:hover, a.button:hover, input.button_large:hover, a.button_large:hover, input.exclusive_mini:hover, a.exclusive_mini:hover, input.exclusive_small:hover, a.exclusive_small:hover, input.exclusive:hover, a.exclusive:hover, input.exclusive_large:hover, a.exclusive_large:hover{
    background-position: 0px -39px;
}

/*=====================================================*/
/*=======================Cart Ajax=======================*/
/*=====================================================*/


#right_column {
    float: left;
    margin: 0 0 0 20px;
    width: 241px;
}

div.column > div {
    margin: 0 0 20px;
}

div.column div.block {
    background: none repeat scroll 0 0 #333333;
}

div.column div.block h4 {
    color: #FFFFFF;
    font: bold 16px "Arial";
    padding: 16px 20px 0;
    text-transform: uppercase;
}

div.column a {
    color: #FFFFFF;
    text-decoration: none;
}

div.column div.block h4 a {
    font: bold 16px "Arial";
}

div.column div.block .block_content {
    padding: 0 20px 20px;
}

#cart_block #cart_block_no_products {
    color: #FFFFFF;
    font-weight: bold;
    padding: 17px 0;
}

#cart_block div.cart-prices > div {
    background: none repeat scroll 0 0 #222222;
    height: 25px;
}

#cart_block div.cart-prices span {
    float: left;
    padding: 5px 0 0 7px;
}

#cart_block div.cart-prices span#cart_block_shipping_cost, #cart_block div.cart-prices span#cart_block_total, #cart_block div.cart-prices span#cart_block_wrapping_cost, #cart_block div.cart-prices span#cart_block_tax_cost {
    color: #FFFFFF;
    float: right;
    font-weight: bold;
    padding: 5px 7px 0 0;
}

#cart_block div.cart-prices > div + div {
    margin: 1px 0 0;
}

#cart_block p#cart-price-precisions {
    padding: 10px 0 0;
}

#cart_block p#cart-buttons {
    overflow: hidden;
    padding: 10px 0 0;
}

div.column a:hover{
    color: #e70b0b;
}

input.button_mini, input.button_small, input.button, input.button_large, input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled, input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large, input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled {
    padding-bottom: 2px;
}

#cart_block dl {
    padding: 10px 0 17px;
}

#cart_block dl dt {
    clear: both;
    height: 15px;
    padding: 7px 0 0;
}

#cart_block span.quantity-formated {
    float: left;
    font: 10px/17px "Arial";
    letter-spacing: 1px;
    padding: 0 2px 0 0;
}

#cart_block span.quantity-formated span.quantity {
    font-size: 10px;
}

div.column a {
    color: #FFFFFF;
    text-decoration: none;
}

#cart_block dl a {
    text-decoration: underline;
}

#cart_block dl dt a {
    float: left;
}

#cart_block a.ajax_cart_block_remove_link {
    background: url("../../img/icon/delete.gif") no-repeat scroll 0 bottom transparent;
    display: block;
    float: right;
    font-size: 0;
    height: 13px;
    margin: 0 0 0 5px;
    width: 11px;
}

#cart_block dl dt span.price {
    color: #FFFFFF;
    float: right;
    font-weight: bold;
}


/*=====================================================*/
/*========================Category========================*/
/*=====================================================*/


.breadcrumb {
    border-style: solid;
    border-width: 1px;
    margin: 0 0 10px;
    padding: 8px 0 8px 19px;
    position: relative;
}

.breadcrumb_inner {
    color: #999999;
}

.breadcrumb a {
    color: #FFFFFF;
    text-decoration: none;
}

.breadcrumb .navigation-pipe {
    background: url("../../img/icon/pipe.png") no-repeat scroll 50% 6px transparent;
    display: inline-block;
    height: 0;
    margin: 0 10px;
    overflow: hidden;
    padding: 12px 0 0;
    width: 5px;
}

#center_column h1 {
    background: none repeat scroll 0 0 #E70B0B;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
}

#center_column h1 span {
    color: #FFFFFF;
    float: right;
    font-size: 12px;
    font-weight: normal;
    margin-left: 15px;
    padding-top: 3px;
    text-transform: none;
}


.center_column .cat_desc {
    border-style: solid;
    border-width: 1px 0;
    margin: 20px 0 0;
    padding: 17px 20px;
}

#center_column .bgcolor, #center_column table.std th {
    background-color: #333333;
}

.product_sort {
    overflow: hidden;
    padding: 20px 0 0;
}

.product_sort #productsSortForm {
    float: left;
}

.product_sort #productsSortForm label {
    display: block;
    float: left;
    padding: 4px 7px 0 0;
}

.product_sort #productsSortForm select {
    float: left;
    height: 20px;
    margin: 2px 0 0;
    width: 160px;
}

.product_sort ul {
    float: right;
}

.product_sort ul li {
    background-image: url("../../img/product_view.png");
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    height: 24px;
    width: 25px;
}

.product_sort ul li#product_view_grid.current {
    background-position: 0 -24px;
    cursor: default;
}

.product_sort ul li#product_view_list.current {
    background-position: 0 -72px;
    cursor: default;
}

.product_sort ul li + li {
    margin: 0 0 0 10px;
}

.product_sort ul li#product_view_list {
    background-position: 0 -48px;
}

.list {
    border-style: solid;
    border-width: 1px;
    margin: 20px 0 0;
    padding: 0 20px;
}


.list li {
    height: 200px;
    padding: 20px 0;
}

.list li + li {
    border-style: solid;
    border-width: 1px 0 0;
}

.list li a.product_img_link {
    float: left;
    height: 200px;
    width: 200px;
}

.list li .center_block {
    float: left;
    padding: 0 0 0 20px;
    width: 300px;
}

.list li .center_block .product_flags {
    margin: 0 0 -3px;
    overflow: hidden;
}

.list li .center_block .product_flags span {
    display: block;
    float: left;
    font-weight: bold;
    height: 15px;
}

.list li .center_block .product_flags span + span {
    border-left-style: solid;
    border-left-width: 1px;
    margin: 0 0 0 11px;
    padding: 0 0 0 12px;
}

.list li .center_block .product_flags span.new {
    color: #FFFFFF;
}

.grid {
    overflow: hidden;
    padding: 10px 0 0;
}

.grid li {
    border-style: solid;
    border-width: 1px;
    float: left;
    margin: 10px 10px 0 0;
    padding: 20px;
    width: 202px;
}

.grid li h3 {
    height: 32px;
}

.grid li h3 a {
    font-size: 14px;
}


.grid li a.product_img_link {
    display: block;
    text-align: center;
}

.grid li span.price {
    display: block;
    font: 15px "Arial" !important;
    padding: 17px 0 0;
}

.grid li .compare {
    padding: 14px 0 0;
}

.grid li .exclusive {
    margin: 20px 0 0;
}



.center_column h2, .center_column h3, .center_column h4 {
    color: #E70B0B;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 -3px;
    padding: 17px 0 0;
    text-transform: uppercase;
}

.list li .center_block h3 {
    padding: 25px 0 0;
}

a.product_link {
    color: #FFFFFF;
    font: 12px "Arial";
    text-decoration: none;
    text-transform: uppercase;
}

a.product_descr:hover{
    color: #e70b0b;
}

.list li .center_block h3 a {
    font-size: 14px;
}

a.product_descr {
    color: #AAAAAA;
    font: 12px "Arial";
    text-decoration: none;
    text-transform: none !important;
}

.list li .right_block {
    border-style: solid;
    border-width: 0 0 0 1px;
    float: right;
    height: 200px;
    padding: 0 0 0 20px;
    position: relative;
    width: 130px;
}

span.on_sale, span.discount {
    color: #E70B0B;
    font: bold 12px "Arial";
    text-transform: uppercase;
}

.list li .right_block span.on_sale, .list li .right_block span.discount {
    left: 20px;
    position: absolute;
    top: 0;
}

.list li .right_block span.price {
    display: block;
    font: 15px "Arial" !important;
    padding: 35px 0 0;
}

table#cart_summary td.price, #center_column span.price {
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
}

.list li .right_block .compare {
    margin: 0;
    padding: 13px 0 0;
}

.checkbox input, .radio input {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    display: inline;
    left: 0;
    position: relative;
    top: 1px;
}

.checkbox label, .radio label {
    padding: 0 0 0 3px;
    width: auto;
}

.list li .right_block .exclusive {
    margin: 17px 0 10px;
}

/*=====================================================*/
/*========================Order========================*/
/*=====================================================*/

ul.step1 {
    background-position: 0 0;
}

#order_steps {
    background-image: url("../../img/order_steps.png");
    background-repeat: no-repeat;
    height: 56px;
    margin: 20px 0 0;
    overflow: hidden;
    width: 550px;
}

#order_steps li {
    float: left;
    height: 56px;
    width: 110px;
}

#order_steps li a, #order_steps li span {
    display: block;
    font: 12px "Arial";
    height: 22px;
    padding: 34px 0 0 10px;
    width: 100px;
}

#order_steps li span {
    color: #A1A1A1;
    font-weight: bold;
}

#order_steps li.step_current span {
    color: #FFFFFF;
    font-weight: bold;
}

#order_steps li {
    float: left;
    height: 56px;
    width: 110px;
}

div.table_block {
    padding: 20px 0 0;
}

table.std {
    width: 100%;
}

table.std th, table.std td {
    border-style: solid;
    border-width: 1px;
    padding: 12px;
    vertical-align: middle;
}

table.std th {
    color: #FFFFFF;
    font-weight: bold;
    padding: 15px 7px;
    text-align: left;
    white-space: nowrap;
}

#center_column .bgcolor, #center_column table.std th {
    background-color: #333333;
}

table.std th, table.std td {
    border-style: solid;
    border-width: 1px;
    padding: 12px;
    vertical-align: middle;
}

table.std tfoot td {
    color: #FFFFFF;
    text-align: right;
    white-space: nowrap;
}

table#cart_summary td.price, #center_column span.price {
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
}

table#cart_summary td.price, #center_column span.price {
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
}

#cart_summary #total_price, #cart_summary #total_price span {
    background: none repeat scroll 0 0 #E70B0B;
    color: #FFFFFF !important;
}

table#cart_summary tr td.cart_product {
    width: 45px;
}

table#cart_summary tr td.cart_availability {
    text-align: center;
}

table#cart_summary tr td.cart_quantity {
    padding: 12px 7px;
    text-align: center;
    width: 60px;
}

table#cart_summary tr td.cart_quantity div#cart_quantity_button {
    float: left;
    width: 34px;
}

table#cart_summary tr td.cart_quantity a {
    display: block;
    float: right;
    height: 20px;
}

table#cart_summary tr td.cart_quantity div#cart_quantity_button input.text {
    height: 15px;
    padding: 3px;
    text-align: center;
    width: 26px;
    margin: 0;
}


table#cart_summary tr td.cart_quantity a.cart_quantity_delete {
    display: block;
    float: left;
    height: 18px;
    margin: 23px 0 0 3px;
    width: 18px;
}

p.cart_navigation {
    clear: both;
    margin: 0;
    overflow: hidden;
    padding: 20px 0 0;
}

p.cart_navigation .exclusive, p.cart_navigation .exclusive_large {
    float: right;
}

p.cart_navigation .button, p.cart_navigation .button_large {
    float: left;
}

p.warning {
    background: none repeat scroll 0 0 #F8E1A0;
    color: #000000 !important;
    font: bold 12px "Arial";
    margin: 20px 0 0 !important;
    padding: 10px 13px !important;
}


#order_steps li a {
    color: #333333;
    font-weight: bold;
    text-decoration: none;
}

#order_steps li.step_current span {
    color: #FFFFFF;
    font-weight: bold;
}

ul.step2 {
    background-position: 0 -56px;
}

#order_steps li a:hover{
    color: #e70b0b;
}

#create-account_form {
    border: 1px solid #555555;
    clear: none;
    float: left;
    margin: 10px 3% 0 0;
    padding: 5px 20px 53px;
    width: 44%;
}

.center_column h2, .center_column h3, .center_column h4 {
    color: #E70B0B;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 -3px;
    padding: 17px 0 0;
    text-transform: uppercase;
}

form.std h3 {
    border-style: solid;
    border-width: 0 0 1px;
    margin: 0;
    padding: 17px 5px 7px 0;
}

#create-account_form h4 {
    color: #555555;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-transform: none;
}

#create-account_form h4, #login_form h4 {
    height: 45px;
    margin: 0;
    padding: 15px 0 0;
}

form.std .text2, form.std .password {
    margin: 0;
    padding: 15px 0 0;
}

#create-account_form p.text2,#login_form p.text2 {
    padding: 15px 0 0;
    width: 220px;
}

form.std .text2 label, form.std .password label, form.std .textarea label, form.std .select label, form.std .select span, form.std .radio span, form.std .checkbox span {
    color: #777777;
    float: left;
    font: 12px "Arial";
    padding: 4px 7px 0 0;
    text-align: right;
    width: 150px;
}

#create-account_form label, #login_form label {
    clear: both;
    display: block;
    padding: 0 0 5px;
    text-align: left;
}

form.std input[type="text"], form.std input[type="password"], form.std textarea {
    -moz-transition: border-color 0.6s ease 0s;
    background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #F1F1F1;
    padding: 3px;
}

form.std .text2 input, form.std .password input {
    height: 15px;
    width: 212px;
}

form.std p.submit {
    margin: 0;
    padding: 20px 0 0 157px;
}

#create-account_form p.submit, #login_form p.submit {
    padding: 18px 0 0;
}

#login_form p.lost_password {
    margin: 0;
}

#login_form {
    border: 1px solid #555555;
    clear: none;
    float: left;
    margin-top: 10px;
    padding: 5px 20px 23px;
    width: 40.9%;
}

.center_column a:hover {
    text-decoration: none;
}

/*=====================================================*/
/*====================Create Account===================*/
/*=====================================================*/


form.std p.checkbox, form.std p.radio {
    margin: 0;
    overflow: hidden;
    padding: 15px 0 0;
}

.checkbox input, .radio input {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    display: inline;
    left: 0;
    position: relative;
    top: 1px;
}

form#account-creation_form p.radio input {
    top: 5px;
}

.checkbox label, .radio label {
    padding: 0 0 0 3px;
    width: auto;
}

form#account-creation_form p.radio label {
    display: inline-block;
    padding: 4px 25px 0 20px;
}

form.std .text, form.std .password {
    margin: 0;
    padding: 15px 0 0;
}

form.std .required {
    margin: 0;
}

form.std .text label, form.std .password label, form.std .textarea label, form.std .select label, form.std .select span, form.std .radio span, form.std .checkbox span {
    color: #777777;
    float: left;
    font: 12px "Arial";
    padding: 4px 7px 0 0;
    text-align: right;
    width: 150px;
}

form.std .required sup {
    color: #DA0F00;
    font: 13px "Tahoma";
    vertical-align: top;
}

form.std .select {
    margin: 0;
    padding: 15px 0 0;
}

form.std select {
    -moz-transition: border-color 0.6s ease 0s;
    background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #F1F1F1;
    padding: 3px;
}

form.std .select select {
    height: 23px;
    padding: 2px;
    width: 220px;
}

select#days {
    margin: 0 8px 0 0;
    width: 50px;
}

select#months {
    margin: 0 8px 0 0;
    width: 90px;
}

form.std span.inline-infos {
    color: #777777;
    display: block;
    font: 11px "Arial";
    margin: 0 0 -3px;
    padding: 2px 0 0 157px;
}

form.std .select select {
    height: 23px;
    padding: 2px;
    width: 220px;
}

form.std .textarea {
    margin: 0;
    padding: 15px 0 0;
}

textarea {
    max-width: 755px;
    min-width: 755px;
    overflow: auto !important;
    padding: 3px;
    width: 755px;
}

form.std input[type="text"], form.std input[type="password"], form.std textarea {
    -moz-transition: border-color 0.6s ease 0s;
    background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #F1F1F1;
    padding: 3px;
}

form.std .textarea textarea {
    min-width: 212px;
}

form#account-creation_form textarea {
    max-width: 563px;
    width: 210px;
}

form.std .required_desc {
    margin: 0 0 -3px;
    padding-left: 157px;
}

form.std {
    clear: both;
}

tr td input{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    display: inline;
    left: 0;
    position: relative;
    top: 1px;
}

tr td input{
    left: 120px;
    margin-left: 40px;
    top: -15px;
}

form.std .text input, form.std .password input {
    height: 15px;
    width: 212px;
}

/*=====================================================*/
/*========================Addresses====================*/
/*=====================================================*/

.center_column p {
    color: #999999;
    margin: 0 0 -3px;
    padding: 17px 0 0;
}

div.order_address p.select label {
    float: left;
    padding: 2px 7px 0 0;
    text-align: right;
}

.checkbox input, .radio input {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    display: inline;
    left: 0;
    position: relative;
    top: 1px;
}

.checkbox label, .radio label {
    padding: 0 0 0 3px;
    width: auto;
}

ul.item {
    border-style: solid;
    border-width: 1px;
    float: left;
    margin: 20px 4% 0 0;
    overflow: hidden;
    padding: 0 0 17px;
    width: 47.6%;
}

ul.alternate_item {
    border-style: solid;
    border-width: 1px;
    float: right;
    margin: 20px 0 0;
    overflow: hidden;
    padding: 0 0 17px;
    width: 47.6%;
}

ul.address li.address_title {
    color: #FFFFFF;
    font-weight: bold;
    margin: 17px 20px 14px;
    text-transform: uppercase;
}

ul.address li {
    margin: 5px 20px 0;
}

ul.address li span.address_name, ul.address li span.address_firstname, ul.address li span.address_lastname, ul.address li.address_firstname {
    color: #E70B0B;
    font-weight: bold;
}

div.order_address p.address_add {
    margin: 0;
    padding: 20px 0 0;
}

br.clear {
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}

ul.step3 {
    background-position: 0 -112px;
}

/*=====================================================*/
/*========================Shipping====================*/
/*=====================================================*/

ul.step4 {
    background-position: 0 -168px;
}

table#carrierTable {
    margin: 17px 0 0;
}

/*=====================================================*/
/*========================Payment====================*/
/*=====================================================*/

p.payment_module {
    border: medium none !important;
    display: block;
    margin: 0 !important;
    padding: 20px 0 0 !important;
}

.payment_module a {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #DDDDDD;
    color: #777777;
    display: block;
    padding: 7px;
    text-decoration: none;
}

.payment_module img {
    margin: 0 10px 0 0;
    vertical-align: middle;
}

ul.step5 {
    background-position: 0 -224px;
}

.payment_module a:hover, .payment_module a:focus, .payment_module a:active {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E70B0B;
    color: #000000;
}

ul.footer_links {
    clear: both;
    height: 16px;
    padding: 20px 0 0;
}

ul.footer_links li {
    float: left;
    height: 16px;
    margin: 0 25px 0 0;
}

ul.footer_links li a {
    line-height: 17px;
    text-decoration: none;
}

ul.footer_links li img.icon {
    margin: 0 5px 0 0;
}

/*=====================================================*/
/*=========================CMS=========================*/
/*=====================================================*/

body#cms div.content_only {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
    padding: 0 20px 20px;
    text-align: left;
}

body#cms div.content_only h2 {
    color: #777777;
    font: bold 14px "Arial";
    padding: 14px 0 0;
    text-transform: uppercase;
}

body#cms div.content_only p {
    color: #000000;
    font: 12px "Arial";
    padding-top: 12px;
}

/*=====================================================*/
/*======================My-Account=====================*/
/*=====================================================*/

div#center_column ul#my_account_links {
    padding: 3px 0 0;
}

div#center_column ul#my_account_links li {
    padding: 12px 0 0;
}

div#center_column ul#my_account_links li img {
    display: inline-block;
    margin: 0 5px 0 0;
}

ul.footer_links {
    clear: both;
    height: 16px;
    padding: 20px 0 0;
}

ul.footer_links li {
    float: left;
    height: 16px;
    margin: 0 25px 0 0;
}

ul.footer_links li a {
    line-height: 17px;
    text-decoration: none;
}

ul.footer_links li img.icon {
    margin: 0 5px 0 0;
}

div#block-history {
    margin: 17px 0 0;
}

table.std {
    width: 100%;
}

.color-myaccount, a.color-myaccount {
    color: #E70B0B;
}

table#order-list td.history_link a {
    font-weight: bold;
}

p#security_informations {
    font-size: 11px;
    padding: 20px 0 0 157px;
}

/*=====================================================*/
/*======================Order detail=====================*/
/*=====================================================*/

#block-history #block-order-detail {
    padding: 3px 0 0;
}

.bold {
    font-weight: bold;
}

div.table_block {
    padding: 20px 0 0;
}

table.std {
    width: 100%;
}

